.navbar-custom {
  background-color: #9AAAD1;
}

.navbar-brand:link,
.navbar-brand:visited,
.navbar-brand:hover,
.navbar-brand:active {
  color: white;
  font-size: 0.9em;
}

#plot-title {
  padding-top: 10px;
}

#caption {
  text-align: center;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #9AAAD1;
  color: white;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}
